# Assignment for Regression Project:

## Question
## Data description
#Every observation in the dataset contains monthly behavior information about one user.
#The information given is as follows:
#● сalls — number of calls,
#● minutes — total call duration in minutes,
#● messages — number of text messages,
#● mb_used — Internet traffic used in MB,
#● is_ultra — plan for the current month (Ultra - 1, Smart - 0).
#Project evaluation
##We’ve put together the evaluation criteria for the project. Read this carefully before moving on to the task.
#● Here’s what the reviewers will look at when reviewing your project:
#● How did you look into data after downloading?
#● Have you correctly split the data into train, validation, and test sets?
#● How have you chosen the sets' sizes?
#● Did you evaluate the quality of the models correctly?
#● What models and hyperparameters did you use?
#● What are your findings?
#● Did you test the models correctly?
#● What is your accuracy score?
#● Have you stuck to the project structure and kept the code neat?

In [ ]:
#Import the data and explore it
import pandas as pd

df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')
test_df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

test_df.head()

   calls  minutes  messages   mb_used  is_ultra
0   40.0   311.90      83.0  19915.42         0
1   85.0   516.75      56.0  22696.96         0
2   77.0   467.66      86.0  21060.45         0
3  106.0   745.53      81.0   8437.39         1
4   66.0   418.74       1.0  14502.75         0

In [ ]:
#Check data types
test_df.dtypes

calls       float64
minutes     float64
messages    float64
mb_used     float64
is_ultra      int64
dtype: object

In [ ]:
#Check the shape
test_df.shape

(3214, 5)

In [ ]:
test_df.duplicated().sum()

0

In [ ]:
test_df.isnull()

      calls  minutes  messages  mb_used  is_ultra
0     False    False     False    False     False
1     False    False     False    False     False
2     False    False     False    False     False
3     False    False     False    False     False
4     False    False     False    False     False
...     ...      ...       ...      ...       ...
3209  False    False     False    False     False
3210  False    False     False    False     False
3211  False    False     False    False     False
3212  False    False     False    False     False
3213  False    False     False    False     False

[3214 rows x 5 columns]

In [ ]:

#Split the source data into a training set, a validation set, and a test set.
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
test_df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

target = test_df['is_ultra']
features = test_df.drop(['is_ultra'], axis=1)
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

print(features_train.shape)
print(target_train.shape)
print(features_valid.shape)
print(target_valid.shape)

(2410, 4)
(2410,)
(804, 4)
(804,)

In [ ]:
#tune the hyperparameters using  mean_squared_error.
#Calculate RMSE using imported data
# < import MSE calculation function from sklearn library >
from sklearn.metrics import mean_squared_error
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
test_df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

target = test_df['is_ultra']
features = test_df.drop(['is_ultra'], axis=1)
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

model = DecisionTreeRegressor()

model.fit(features_train, target_train)
predictions=model.predict(features_valid)

result = mean_squared_error(target_valid,predictions)
print(result)

0.2947761194029851

In [ ]:
# model by changing hyperparameters
#Train a DecisionTreeRegressor regression model. The test set accuracy should be at least 0.80.
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor

df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

features = df.drop(['is_ultra'], axis=1)

target = df['is_ultra']

features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

model = DecisionTreeRegressor()

model.fit(features_train,target_train)

print("Train: ", model.score(features_train,target_train))
print("Source Data: ", model.score(features,target))

Train:  1.0
Source Data:  0.655992876548861

In [ ]:
# model by changing hyperparameters
#Train a LinearRegression regression model. The test set accuracy should be at least 0.80.

import pandas as pd
from sklearn.linear_model import LinearRegression

test_df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')
features=test_df.drop(['is_ultra'],axis=1)
target=test_df['is_ultra']

features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)
model = LinearRegression()
model.fit(features_train,target_train)

model.score(features_valid,target_valid)

0.08659496191929072

In [ ]:
# # model by changing hyperparameters
#Train a RandomForestRegressor regression model. The test set accuracy should be at least 0.80.

import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestRegressor

df = pd.read_csv('https://bit.ly/UsersBehaviourTelco')

features = df.drop(['is_ultra'], axis=1)

target = df['is_ultra']

features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

model = RandomForestRegressor(random_state=12345, n_estimators=40)

model.fit(features,target)

print("Validation: ",model.score(features_valid,target_valid))

print("Train set: ", model.score(features_train,target_train))


#Test using Initial set

print("Initial Data set: ",model.score(features,target))

Validation:  0.8893954106262392
Train set:  0.8968923859866528
Initial Data set:  0.8950476352328444